@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AppKurs.Models.ChangeRoleViewModel

@{
    ViewData["Title"] = "Edit Role";
}

<div class="col-md-8">
    <h2>@Localizer["Change role for user"] @Model.UserEmail</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div class="form-group">
            @foreach (IdentityRole role in Model.AllRoles)
            {
                <input type="checkbox" name="roles" value="@role.Name"
                       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                }
        </div>
        <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
    </form>
</div>