@using AppKurs.Models
@model UserTask
@{
    ViewData["Title"] = @Model.TaskTitle;
}


<div class="col-md text-center">
    <h1 class="">@Model.TaskTitle</h1>
</div>
<div class="col-md">
    <h3>@Model.TaskTopic</h3>
    <p class="lead">@Model.TaskText</p>
</div>
<form class="col-md-5">
    <div class="mb-3">
        <label for="answer" class="form-label">Your answer</label>
        <input type="text" class="form-control" id="answer" aria-describedby="emailHelp">
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Answer
    </button>
</form>
<div class="col-md">
    Author: <b>@Model.TaskUser</b>
</div>


<!--Right answer-->
<div class="alert alert-success" role="alert">
    Wight answer
</div>

<!--Right answer-->
<div class="alert alert-danger" role="alert">
    Wrong answer
</div>