@using AppKurs.Models
@model SolvedViewModel
@{
    ViewData["Title"] = @Model.UserTasks.TaskTitle;
}


<div class="col-md text-center">
    <h1 class="">@Model.UserTasks.TaskTitle</h1>
</div>
<div class="col-md">
    <h3>@Model.UserTasks.TaskTopic</h3>
    <p class="lead">@Model.UserTasks.TaskText</p>
</div>
<form method="post" class="col-md-5">
    <div class="mb-3">
        <label for="answer" class="form-label">Your answer</label>
        <input name="UserAnswer" type="text" class="form-control" id="answer">
    </div>
    <!-- Button trigger modal -->
    <button type="submit" class="btn btn-primary">
        Answer
    </button>
</form>
<div class="col-md">
    Author: <a asp-controller="Home" asp-action="UserPage" asp-route-username="@Model.UserTasks.TaskUser"><b>@Model.UserTasks.TaskUser</b></a>
</div>

<!--
<!--Right answer
<div class="alert alert-success" role="alert">
    Right answer
</div>

<!--Wrong answer
<div class="alert alert-danger" role="alert">
    Wrong answer
</div> -->