@using AppKurs.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SolvedViewModel
@{
    ViewData["Title"] = @Model.UserTasks.TaskTitle;
}


<div class="col-md text-center">
    <h1 class="">@Model.UserTasks.TaskTitle</h1>
</div>
<div class="col-md">
    <h3>@Model.UserTasks.TaskTopic</h3>
    <p class="lead">@Model.UserTasks.TaskText</p>
</div>
@if (Model.UserTasks.ImageUrl != null)
{
    <img src="@Url.Content(Model.UserTasks.ImageUrl)" class="img-fluid" alt="Image" />
}

@if (User.Identity.IsAuthenticated && !(Model.SolvedTasks.Solved))
{
    <form method="post" class="col-md-6 mt-3">
        <div class="mb-3">
            <label for="answer" class="form-label">@Localizer["Your answer"]</label>
            <input name="UserAnswer" type="text" class="form-control" id="answer">
        </div>
        <button type="submit" class="btn btn-primary">
            @Localizer["Answer"]
        </button>
    </form>
    @if (Model.SolvedTasks.UserAnswer != null)
    {
        <div class="col-md card bg-danger mt-3">
            <h2 class="text-light text-center">@Localizer["Wrong Answer"]</h2>
        </div>
    }
}

@if (User.Identity.Name == Model.UserTasks.TaskUser || User.IsInRole("admin"))
{
    <form asp-controller="UserTask" asp-action="DeleteConfirmed" asp-route-id="@Model.UserTasks.Id" method="post" class="col-md-6 mt-3">
        <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
    </form>
}

@if (User.Identity.IsAuthenticated && Model.SolvedTasks.Solved)
{
    <div class="col-md card bg-success mt-3">
        <h2 class="text-light text-center">@Localizer["Task Solved"]</h2>
    </div>
}
<div class="col-md mt-3">
    @Localizer["Author"]: <a asp-controller="Home" asp-action="UserPage" asp-route-username="@Model.UserTasks.TaskUser"><b>@Model.UserTasks.TaskUser</b></a>
</div>