@using AppKurs.Models
@model UserTask
@{
    ViewData["Title"] = @Model.TaskTitle;
}


<div class="col-md text-center">
    <h1 class="">@Model.TaskTitle</h1>
</div>
<div class="col-md">
    <h3>@Model.TaskTopic</h3>
</div>
<div class="col-md">
    <p class="lead">@Model.TaskText</p>
</div>
<div class="col-md">
    Author: <b>@Model.TaskUser</b>
</div>
