@using AppKurs.Models
@using AppKurs.Data
@model SolvedViewModel
@{
    ViewData["Title"] = @Model.UserTasks.TaskTitle;
}


<div class="col-md text-center">
    <h1 class="">@Model.UserTasks.TaskTitle</h1>
</div>
<div class="col-md">
    <h3>@Model.UserTasks.TaskTopic</h3>
    <p class="lead">@Model.UserTasks.TaskText</p>
</div>

@if (User.Identity.IsAuthenticated && !(Model.SolvedTasks.Solved))
{
    <form method="post" class="col-md-6">
        <div class="mb-3">
            <label for="answer" class="form-label">Your answer</label>
            <input name="UserAnswer" type="text" class="form-control" id="answer">
        </div>
        <button type="submit" class="btn btn-primary">
            Answer
        </button>
    </form>
}

@if (User.Identity.IsAuthenticated && Model.SolvedTasks.Solved)
{
    <div class="col-md card bg-success">
        <h2 class="text-light text-center">Задача решена</h2>
    </div>
}
<div class="col-md mt-3">
    Author: <a asp-controller="Home" asp-action="UserPage" asp-route-username="@Model.UserTasks.TaskUser"><b>@Model.UserTasks.TaskUser</b></a>
</div>